<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Detecting_Similarities.Properties.Settings.ConnectionString"
            connectionString="Data Source=orcl;Persist Security Info=True;User ID=HR;Password=hr;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>